.spectrogram-container {
  margin-top: 48px;
  display: flex;
  height: 500px;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.spectrogram-container > div {
  max-height: 500px;
  display: inline-block;
  transition: all 0.15s;
}
